<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <span class="label label-important">Warning!</span><br>
  You have at least 1 storage request that has not been submitted and in 'Draft' status.<br>
  Please 'Submit' or 'Delete' the request.
</div>


