<div class="row">
  <div class="span6">
    <div class="widget-content">
      <div style="background-image: url(/assets/boxes.png); height: 200px; ">
      <h4>Welcome</h4>

      <p>We assist organizations in dealing with challenges associated with records management, protection and destruction. Demands for effective document storage and protection of vital information have confirmed the increasing need for intelligent systems to deliver maximization of value.</p>
      <p>Our team endeavours to support you with the services you need to have a peace of mind.</p>
      </div>
    </div> <!-- /widget-content -->
  </div> <!-- /span6 -->

  <div class="span6">
    <%= render 'home/login' %>
  </div> <!-- /span6 -->
</div> <!-- /row -->


