<div class="row">
  <div class="span6">
    <div class="widget-content">
      <h4>Welcome</h4>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum nibh ac nunc semper sagittis. Cras iaculis, metus vel volutpat consequat, nulla metus gravida sapien, at pellentesque neque arcu non nisl. Ut tempor, orci id pharetra sodales, orci enim malesuada sapien, a laoreet nisi elit at urna. Pellentesque suscipit placerat orci non vestibulum. Nullam malesuada lacus quam, eu dignissim magna. Sed in laoreet lectus. Nam neque magna, rhoncus eu feugiat non, congue a nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed scelerisque quam nec ipsum feugiat sit amet tristique velit aliquet. Donec volutpat risus in neque consectetur bibendum. Phasellus bibendum iaculis nibh, vitae consequat eros elementum quis. Pellentesque purus ligula, ultrices quis pretium quis, viverra eu mi. Nunc a nibh at felis congue luctus. Curabitur purus risus, aliquam ut vulputate id, pharetra eu ante.</p>
    </div> <!-- /widget-content -->
  </div> <!-- /span6 -->

  <div class="span6">
    <%= render 'home/login' %>
  </div> <!-- /span6 -->
</div> <!-- /row -->
