<div class="widget stacked">
  <div class="widget-header">
    <i class="icon-bookmark"></i>
    <h3>3-Month Storage/Retrieval Trending Report</h3>
  </div> <!-- /widget-header -->

  <div class="widget-content">
   <div id="bar-chart" class="chart-holder"></div> <!-- /bar-chart -->
  </div>
</div>
