<div class="widget stacked">
  <div class="widget-header">
    <i class="icon-bookmark"></i>
    <h3>Warehouse Capacity Report</h3>
  </div> <!-- /widget-header -->

  <div class="widget-content">
    <div class="cirque-stats">
      <div class="ui-cirque" data-value="68" data-arc-color="#FFFF00"></div>
      <div class="ui-cirque" data-value="13" data-arc-color="#00FF00"></div>
      <div class="ui-cirque" data-value="92" data-arc-color="#FF0000"></div>
      <div class="ui-cirque" data-value="38" data-arc-color="#00FF00"></div>
      <div class="ui-cirque" data-value="75" data-arc-color="#FFFF00"></div>
      <div class="ui-cirque" data-value="83" data-arc-color="#FF0000"></div>
    </div> <!-- /.cirque-stats -->
  </div>
</div>
