<div class="widget stacked">
  <div class="widget-header">
    <i class="icon-bookmark"></i>
    <h3>Warehouse Capacity Report</h3>
  </div> <!-- /widget-header -->

  <div class="widget-content">
    <div id="annual"></div>
  </div>
</div>
