<div class="main">
  <div class="main-inner">
    <div class="container">

      <% if current_user.role == "User" %>
        <%= render 'dashboards/users/index' %>
      <% end %>

      <% if current_user.role == "Admin" %>
        <%= render 'dashboards/admins/index' %>
      <% end %>

      <% if current_user.role == "Super User" %>
        <%= render 'dashboards/admins/index' %>
      <% end %>

    </div> <!-- /container -->
  </div> <!-- /main-inner -->
</div> <!-- /main -->
