<h1>Dashboard</h1>
<h4>Under construction!</h4>
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="widget big-stats-container">
            <div class="widget-content">
              <div id="big_stats" class="cf">
                <div class="stat">
                  <h4>Storage Request Today</h4>
                  <span class="value">23</span>
                </div> <!-- .stat -->

                <div class="stat">
                  <h4>Retrieval Request Today</h4>
                  <span class="value">23</span>
                </div> <!-- .stat -->

                <div class="stat">
                  <h4>Request Completed Today</h4>
                  <span class="value">57</span>
                </div> <!-- .stat -->

                <div class="stat">
                  <h4>Pending Collection Today</h4>
                  <span class="value">83</span>
                </div> <!-- .stat -->
              </div>
            </div> <!-- /widget-content -->
          </div> <!-- /widget -->
        </div> <!-- /span12 -->
      </div> <!-- /row -->



        <div class="row">
          <div class="span4">
            <div class="widget widget-table">
              <div class="widget-header">
                <span class="icon-list-alt"></span>
                <h3>Storage Request</h3>
              </div> <!-- .widget-header -->

              <div class="widget-content">
                <table class="table table-bordered table-striped">
                  <thead><tr>
                    <th>Customer</th>
                    <th>Packages</th>
                  </tr></thead>

                  <tbody>
                    <tr>
                      <td class="description"><a>Bank Rakyat HQ</a></td>
                      <td class="value"><span>45</span></td>
                    </tr>
                    <tr>
                      <td class="description"><a>Cawangan Kelana Jaya</a></td>
                      <td class="value"><span>27</span></td>
                    </tr>
                    <tr>
                      <td class="description"><a>Cawangan Shah Alam</a></td>
                      <td class="value"><span>4</span></td>
                    </tr>
                    <tr>
                      <td class="description"><a>Cawangan Kajang</a></td>
                      <td class="value"><span>25</span></td>
                    </tr>
                    <tr>
                      <td class="description"><a>Cawangan Damansara Utama</a></td>
                      <td class="value"><span>93</span></td>
                    </tr>
                  </tbody>
                </table>
              </div> <!-- .widget-content -->
          </div> <!-- /widget -->
          </div> <!-- /span4 -->

          <div class="span4">
            <div class="widget widget-table">
              <div class="widget-header">
                <span class="icon-file"></span>
                <h3>Retrieval Request</h3>
              </div> <!-- .widget-header -->

              <div class="widget-content">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Customer</th>
                      <th>Packages</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td class="description"><a>Bank Rakyat HQ</a></td>
                      <td class="value"><span>5</span></td>
                    </tr>
                    <tr>
                      <td class="description"><a>Cawangan Kelana Jaya</a></td>
                      <td class="value"><span>7</span></td>
                    </tr>
                    <tr>
                      <td class="description"><a>Cawangan Shah Alam</a></td>
                      <td class="value"><span>4</span></td>
                    </tr>
                    <tr>
                      <td class="description"><a>Cawangan Kajang</a></td>
                      <td class="value"><span>2</span></td>
                    </tr>
                    <tr>
                      <td class="description"><a>Cawangan Damansara Utama</a></td>
                      <td class="value"><span>9</span></td>
                    </tr>
                  </tbody>
                </table>
              </div> <!-- .widget-content -->
            </div> <!-- /widget -->
          </div> <!-- /span4 -->

          <div class="span4">
            <div class="widget widget-table">
              <div class="widget-header">
                <span class="icon-external-link"></span>
                <h3>Stroage & Retrieval Request Status</h3>
              </div> <!-- .widget-header -->

              <div class="widget-content">
                <table class="table table-bordered table-striped">
                  <thead><tr>
                  <th>Customer</th>
                  <th>Storage / Retrieval / Completed</th>
                  </tr></thead>

                  <tbody>
                    <tr>
                      <td class="description"><a>Bank Rakyat HQ</a></td>
                      <td class="value"><span>45 / 5 / 30</span></td>
                    </tr>
                    <tr>
                      <td class="description"><a>Cawangan Kelana Jaya</a></td>
                      <td class="value"><span>27 / 7 / 27</span></td>
                    </tr>
                    <tr>
                      <td class="description"><a>Cawangan Shah Alam</a></td>
                      <td class="value"><span>4 / 4 / 4</span></td>
                    </tr>
                    <tr>
                      <td class="description"><a>Cawangan Kajang</a></td>
                      <td class="value"><span>25 / 2 / 0</span></td>
                    </tr>
                    <tr>
                      <td class="description"><a>Cawangan Damansara Utama</a></td>
                      <td class="value"><span>93 / 9 / 76</span></td>
                    </tr>
                  </tbody>
                </table>
              </div> <!-- .widget-content -->
            </div> <!-- /widget -->
          </div> <!-- /span4 -->
        </div> <!-- /row -->
      </div> <!-- /container -->
    </div> <!-- /main-inner -->
  </div> <!-- /main -->
