<div class="main">
  <div class="main-inner">
    <div class="container">

      <% if current_user.role == "User" %>
          <%= render 'dashboards/users/stats' %>
      <% end %>

      <% if current_user.role == "Admin"  || current_user.role == "Super Admin" %>
          <h4>"Admin Page"</h4>
      <% end %>

    </div> <!-- /container -->
  </div> <!-- /main-inner -->
</div> <!-- /main -->
