<div class="span12">

          <div class="widget stacked">

          <div class="widget-header">
            <i class="icon-bar-chart"></i>
            <h3>Cirque Stats</h3>
          </div> <!-- /widget-header -->

          <div class="widget-content">

            <div class="cirque-stats">
              <div class="ui-cirque" data-value="2875" data-total="3245" data-arc-color="#FF9900" data-label="ratio"></div>
                  <div class="ui-cirque" data-value="13" data-arc-color="#222222"></div>
                  <div class="ui-cirque" data-value="63" data-total="225" data-arc-color="#888888" data-label="ratio"></div>
                  <div class="ui-cirque" data-value="80" data-arc-color="#880000"></div>
              <div class="ui-cirque" data-value="72" data-arc-color="#888888" data-label="ratio"></div>
                  <div class="ui-cirque" data-value="57" data-arc-color="#FF9900"></div>
              </div> <!-- /.cirque-stats -->

          </div> <!-- /widget-content -->

        </div> <!-- /widget -->

      </div> <!-- /.span6 -->
