<div class="row">
  <div class="span6">
    <div class="widget big-stats-container stacked">
      <div class="widget-content">
        <div id="big_stats" class="cf">
          <div class="stat">
            <h4>Total Number of Stores</h4>
            <span class="value"><%= @warehouses.size %></span>
          </div> <!-- .stat -->
        </div>
      </div> <!-- /widget-content -->
    </div> <!-- /widget -->
  </div> <!-- /span6 -->

  <div class="span6">
    <div class="widget stacked widget-box">
      <div class="widget-content">
        <%= link_to 'Print Report - Summary', show_all_warehouses_path(format: "pdf"),  :class => 'btn' %>
      </div> <!-- /widget-content -->
    </div> <!-- /widget-box -->
  </div> <!-- /span6 -->
</div> <!-- /row -->
