<div class="row">
  <div class="span12">
    <div class="widget big-stats-container stacked">
      <div class="widget-content">
        <div id="big_stats" class="cf">
          <div class="stat">
            <h4>Open Storage Request</h4>
            <span class="value">1</span>
          </div> <!-- .stat -->

          <div class="stat">
            <h4>Open Retrieval Request</h4>
            <span class="value">2</span>
          </div> <!-- .stat -->

          <div class="stat">
            <h4>Something Else</h4>
            <span class="value">3</span>
          </div> <!-- .stat -->

          <div class="stat">
            <h4>Something Else</h4>
            <span class="value">4</span>
          </div> <!-- .stat -->
        </div>
      </div> <!-- /widget-content -->
    </div> <!-- /widget -->
  </div> <!-- /span12 -->
</div> <!-- /row -->
